[C++] Authentication module changes

The following subset of the `ietf-system` YANG module should be implemented in the new C++ port of the plugin:

```
container authentication {
  nacm:default-deny-write;
  if-feature authentication;

   description
     "The authentication configuration subtree.";

   leaf-list user-authentication-order {
     type identityref {
       base authentication-method;
     }
     must '(. != "sys:radius" or ../../radius/server)' {
       error-message
         "When 'radius' is used, a RADIUS server"
       + " must be configured.";
       description
         "When 'radius' is used as an authentication method,
          a RADIUS server must be configured.";
     }
     ordered-by user;

     description
       "When the device authenticates a user with a password,
        it tries the authentication methods in this leaf-list in
        order.  If authentication with one method fails, the next
        method is used.  If no method succeeds, the user is
        denied access.

        An empty user-authentication-order leaf-list still allows
        authentication of users using mechanisms that do not
        involve a password.

        If the 'radius-authentication' feature is advertised by
        the NETCONF server, the 'radius' identity can be added to
        this list.

        If the 'local-users' feature is advertised by the
        NETCONF server, the 'local-users' identity can be
        added to this list.";
   }

   list user {
     if-feature local-users;
     key name;
     description
       "The list of local users configured on this device.";

     leaf name {
       type string;
       description
        "The user name string identifying this entry.";
     }
     leaf password {
       type ianach:crypt-hash;
       description
         "The password for this entry.";
     }
     list authorized-key {
       key name;
       description
         "A list of public SSH keys for this user.  These keys
          are allowed for SSH authentication, as described in
          RFC 4253.";
       reference
         "RFC 4253: The Secure Shell (SSH) Transport Layer
                    Protocol";

       leaf name {
         type string;
         description
           "An arbitrary name for the SSH key.";
       }

       leaf algorithm {
         type string;
         mandatory true;
         description
           "The public key algorithm name for this SSH key.

            Valid values are the values in the IANA 'Secure Shell
            (SSH) Protocol Parameters' registry, Public Key
            Algorithm Names.";
         reference
           "IANA 'Secure Shell (SSH) Protocol Parameters'
            registry, Public Key Algorithm Names";
       }
       leaf key-data {
         type binary;
         mandatory true;
         description
           "The binary public key data for this SSH key, as
            specified by RFC 4253, Section 6.6, i.e.:

              string    certificate or public key format
                        identifier
              byte[n]   key/certificate data.";
         reference
           "RFC 4253: The Secure Shell (SSH) Transport Layer
                      Protocol";
       }
     }
   }
 }
```

The user list module change callback should be implemented. Either that or the user list items (name, password, authorized-key list) should have their own callbacks implemented, similarly to the current C implementation which can be found in `core/subscription/change` and `core/api/system/authentication`.